/*! External CSS for Fun With AI project | Created by Alex Zhang */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

/* -160deg, #0093E9 0%, #80D0C7 100% */

body {
  /* background: linear-gradient(to right, #74ebd5 0%, #ACB6E5 100%); */
  /* digital water */
  /* Blue Skies*/
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Arial;
  color: white;
  height: 100%;
}

.app-header {
  padding: 0px 24px;
  min-width: 490px;
}

.app-header h1 {
  margin-left: 0px;
}

.pg-root {
  display: flex;
  flex-direction: row;
}

.pg-welcome {
  border-right: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  flex-shrink: 0;
  padding: 16px 24px;
  position: relative;
  width: 320px;
}

.pg-welcome h3 {
  margin: 0px;
}

.pg-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
}

.pg-body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.pg-left {
  flex: 1 1 auto;
  padding: 24px;
}

.pg-right-content {
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 24px 24px 0px 0px;
  position: absolute;
  right: 0;
  top: 0;
}

.pg-right-panel-mask {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.pg-right-panel-close {
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  display: none;
  font-size: 28px;
  font-weight: 400;
  outline: none;
  padding: 2px;
  position: absolute;
  right: 10px;
  top: 5px;
}


.parameter-panel-grid {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 100%;
}

.control-label {
  margin-bottom: 8px;
}

.control-label-with-indicator {
  display: flex;
  align-items: center;
}

.cli-left {
  flex: 1 0 auto;
}

.cli-right {
  flex: 0 1 auto;
  width: 46px;
  padding: 4px 5px 3px;
  line-height: 15px;
  text-align: right;
  font-variant: tabular-nums;
}

.text-input {
  background-clip: padding-box;
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: top;
}

.text-input:hover {
  border-color: dodgerblue;
}

.text-input:focus {
  border-color: royalblue;
  outline: none;
  box-shadow: 0 0 3px #719ece;
}

.body-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.control-slider-container {
  margin-top: 0.5em;
}
.control-slider {
  width: 100%;
  margin: 0px;
}

.pg-hide {
  display: none;
}

#main-content form {
  margin-bottom: 60px;
}

#credits {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  text-align: center;
}

#pg-header {
  padding: 8px 24px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
}

#pg-preset-select-container {
  display: inline-block;
}

#pg-header button {
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 11px 11px 11px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 5px;
}

#pg-header button svg {
  position: relative;
  top: 2px;
}

#pg-title {
  margin: 0px;
}

.action-button {
  background-color: #b4e197;
}

.action-button:hover {
  background-color: #83bd75;
}

/* Custom button, absolute positioned to the right border of
   main_content */
.button {
  /* position: absolute; */
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 5px;
  /* right: 10px; */
}
.regular-button {
  background-color: DodgerBlue;
}

.regular-button:hover {
  background-color: royalblue;
}

.regular-button .info {
  background-size: 20px 20px;
}

.bottom-grey-bd {
  border-bottom: 1px solid #cdcdcd;
}

.top-grey-bd {
  border-top: 1px solid #cdcdcd;
}

/* Dynamically sized textarea */
.text-area {
  display: block;
  height: auto;
  width: 100%;
  resize: none;
  font-size: 14px;
  border-radius: 5px;
}

/* Animated Title */
/* Adapted from https://css-tricks.com/snippets/css/typewriter-effect */
h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid transparent; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end 1;
  margin-left: 12px 0px 16px 12px;
  /* Add gradient to font */
  /* background: linear-gradient(to right, #616161, #9bc5c3);  */
  /* #ffffff,#abbaab */
  background: #DAE2F8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #DAE2F8,
    #D6A4A4
  ); 
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #DAE2F8,
    #D6A4A4
  ); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* cloud */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
  /* text-transform: uppercase; */
  font-style: italic;
  /* line-height: .77; */
  font-weight: bold;
  font-size: 18px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #abbaab;
  }
}

@media screen and (max-width: 1100px) {
  .pg-welcome {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 45.676px;
    z-index: 2;
    background-color: #2f80ed;
    box-shadow: 10px -2px 20px -12px lightblue;
  }
}

@media screen and (min-width: 1000px) {
  .pg-right {
    flex: 0 0 auto;
    width: 240px;
    height: 450px;
    position: relative;
  }
  .pg-advanced-toggle,
  .pg-right-panel-mask {
    display: none;
  }
  .pg-welcome .pg-right-panel-close {
    display: block;
    color: white;
  }
}

@media screen and (max-width: 999px) {
  .pg-right-content {
    left: auto;
    padding: 24px 24px 0px 0px;
    /* hide the side setting panel at the right edge of viewport */
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    /* side panel on top of mask */
    z-index: 2;
  }

  .pg-right {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }

  /* move the side setting panel back into viewport */
  .pg-visible-mobile .pg-right-content {
    pointer-events: all;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .pg-visible-mobile .pg-right-panel-mask {
    opacity: 0.7;
    pointer-events: all;
  }
  .pg-right-panel-close {
    display: block;
    color: white;
  }
}

@media screen and (max-width: 490px) {
  body {
    background: #56ccf2; /* prevent gradient clipping on mobile devices */
  }
}