/*! External CSS for Fun With AI project | Created by Alex Zhang */

*, :after, :before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position:relative;
}

/* -160deg, #0093E9 0%, #80D0C7 100% */

body {
  /* background: linear-gradient(to right, #74ebd5 0%, #ACB6E5 100%); */
  /* digital water */
  /* Blue Skies*/
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Arial;
  color: white;
  height: 100%;
}

/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  color:white;
} */

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

/* Center all elements in main-content*/
/* #main-content {
  position: relative;
  width: 99%;
  margin-top: 20px;
  min-width: 400px;
  max-width: 990px;
} */

.pg-body{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.pg-left {
  flex:1 1 auto;
  padding: 24px 0px 24px 16px;
}

.pg-right {
  flex: 0 0 auto;
  width: 240px;
  position: relative;
}

.pg-right-content {
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-top: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.parameter-panel {
  margin: 0px 24px;
}

.parameter-panel-grid {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 100%;
}

.control-label {
  margin-bottom: 8px;
}

.body-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

#main-content form {
  margin-bottom: 60px;
}


#credits {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  text-align: center;
}

#app-header{
  padding: 4px 16px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

#pg-preset-select-container {
  display: inline-block;
}

#app-header button {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 11px 11px 11px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 5px;
}

#app-header button:hover {
  background-color: royalblue
}

#app-header button svg{
  position: relative;
  top: 2px;
}

#pg-title {
  margin: 0px;
}
/* 
10a37f
1a7f64 */
#submit-button{
  background-color:#B4E197;
  /* left: 0px;
  right: auto; */
}

#submit-button:hover{
  background-color: #83BD75;
}

/* Custom button, absolute positioned to the right border of
   main_content */
.button {
  /* position: absolute; */
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  /* right: 10px; */
}

.button:hover {
  background-color: royalblue
}

.bottom-grey-bd {
  border-bottom: 1px solid #CDCDCD;
}

.top-grey-bd {
  border-top: 1px solid #CDCDCD;
}

/* Dynamically sized textarea */
textarea {
  display: block;
  height: auto;
  width: 99%;
  resize: none;
  font-size: 14px;
}

/* Animated Title */
/* Adapted from https://css-tricks.com/snippets/css/typewriter-effect */
h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.10em solid transparent; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.10em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end 8;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  /* Add gradient to font */
  /* background: linear-gradient(to right, #616161, #9bc5c3);  */

  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* cloud */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
  /* text-transform: uppercase; */
  font-style: italic;
  /* line-height: .77; */
  font-weight: bold;
  font-size: 18px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #abbaab }
}