/*! External CSS for Fun With AI project | Created by Alex Zhang */

/* body {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  font-family: Arial;
} */

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  color:white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Center all elements in main-content*/
#main-content {
  position: relative;
  margin: auto;
  width: 50%;
  padding: 30px;
  min-width: 400px;
  max-width: 700px;
  
}
#form-label {
  font-size: 24px;
}
#credits {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

/* Custom button, absolute positioned to the right border of
   main_content */
.button {
  position: absolute;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  right: 30px;
}

/* Dynamically sized textarea */
textarea {
  display: block;
  height: auto;
  width: 99%;
  resize: none;
  font-size: 16px;
}

/* Animated Title */
/* Adapted from https://css-tricks.com/snippets/css/typewriter-effect */
h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.10em solid transparent; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.10em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end 10;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;

  background: linear-gradient(to right, #7927b2, #fb3182); /* Add gradient to font */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
  text-transform: uppercase;
  line-height: .77;
  font-weight: bold;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: DodgerBlue }
}